@media (max-width: 768px) {
  body, html {
    padding-bottom: 34px;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .navbar-collapse {
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  .navbar-collapse {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  #sidebar ul {
    text-align: center;
  }
  #sidebar ul li {
    float: none;
    display: inline-block;
  }

  .navbar-brand-sm {
    width: 54px;
    margin-left: 20px !important;
  }

  .description-fixed {
    position: inherit;
  }

  .card-ui figure img {
    width: 100%;
  }
  .card-ui figcaption {
    width: 100%;
  }
}
@media (max-width: 991px) {
  div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .superpose {
    top: 55%;
  }
  .superpose h1 {
    font-size: 35px;
    line-height: 30px;
  }
  .superpose h2 {
    font-size: 25px;
  }
  .superpose p {
    font-size: 16px;
    line-height: 10px;
  }
  .superpose a.btn.white {
    font-size: 20px;
  }

  .main-footer a h6 {
    padding-left: 15px;
  }

  input {
    padding: 0 0 0 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .superpose {
    top: 55%;
  }
  .superpose h1 {
    font-size: 55px;
  }
  .superpose a.btn.white {
    font-size: 20px;
  }

  input {
    padding: 0 80px 0 10px;
  }
}
@media (max-width: 1199.98px) {
  .card-ui figcaption {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}
