@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400,700");
@font-face {
  font-family: artskory-icon;
  src: '../fonts/artskory-icon-Regular.eot';
  src: url(../fonts/artskory-icon-Regular.eot?#iefix&v=1.0) format("embedded-opentype"), url(../fonts/artskory-icon-Regular.woff2?v=1.0) format("woff2"), url(../fonts/artskory-icon-Regular.woff?v=1.0) format("woff"), url(../fonts/artskory-icon-Regular.ttf?v=1.0) format("truetype"), url(../fonts/artskory-icon-Regular.svg?v=1.0#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal;
}
/* Global
   ========================================================================== */
html {
  margin-top: 0 !important;
}

/* Because it's add by wp */
body {
  padding-bottom: 360px;
  font-family: "Exo 2", sans-serif;
}

.social A[href="#"], .social A[href=""] {
  display: none;
}

a {
  color: #32a8df;
}
a:hover {
  text-decoration: none;
  color: #32a8df;
}

ul {
  margin-left: -40px;
  list-style: none;
}

/* Logo */
.navbar-brand {
  color: #fff !important;
}
.navbar-brand h1 {
  font-size: 1.5em;
  font-weight: 300;
}

/* Liens */
.navbar-nav .active a {
  color: #32a8df !important;
}
.navbar-nav > li > a {
  font-size: 1.2em;
  color: #fff !important;
}
.navbar-nav > li > a:hover {
  color: #32a8df !important;
}

/* Toggle */
.navbar-toggler:hover {
  background-color: #32a8df !important;
}

#navbarSupportedContent > ul {
  text-align: center;
}

::-moz-selection, ::selection {
  background: #00c6ff;
}

/* Footer */
.main-footer {
  width: 100%;
  margin-bottom: 0;
  padding: 4em 0 0;
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #143444;
  background: #143444 !important;
}
.main-footer h3 {
  margin-bottom: 30px !important;
  font-size: 14px;
  text-transform: uppercase;
}
.main-footer-bottom {
  padding: 2em 0 0;
  text-align: center;
}
.main-footer-content p {
  font-size: 16px;
  color: #fff;
}
.main-footer a h6 {
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
}

.main-footer {
  color: #fff;
}

#menu-secondary {
  margin-left: 0;
}

.search-col > .nav {
  -ms-flex-wrap: inherit;
  flex-wrap: inherit;
}

input {
  padding: 0 140px 0 10px;
  font-size: 1em;
  letter-spacing: .02em;
  line-height: 32px;
  border: 0;
  border-bottom: 2px solid transparent;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#searchform button {
  margin: 0 0 0 -40px;
  border: none;
  background-color: transparent;
}
#searchform button i {
  width: 18px;
  height: 18px;
  margin: 2px 0 0 2px;
  position: relative;
  border: none;
  background-size: contain;
  display: block;
}

.social h3 {
  margin-top: 2em;
}

/* scrollToTop */
#scrollToTop {
  width: 2em;
  height: 2em;
  position: fixed;
  right: 25px;
  bottom: 25px;
  padding: 0;
  border: none;
  background-color: #32a8df;
  display: none;
  z-index: 1;
  cursor: pointer;
}

/* Index
   ========================================================================== */
/* Background video */
.main {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  background: #ffffff;
}

.filter-video::after {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  content: '';
  background: rgba(0, 0, 0, 0.4) url(../img/pattern.png) repeat top left;
}

.embed-responsive-16by9-index {
  padding-bottom: 31.25%;
}

.bgvideo {
  position: relative;
}

.superpose {
  width: 100%;
  top: 50%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  color: #fff;
  -moz-transform: translate(0, -60%);
  -ms-transform: translate(0, -60%);
  -webkit-transform: translate(0, -60%);
  transform: translate(0, -60%);
}
.superpose h1 {
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
}
.superpose h2 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.superpose p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

a.btn.white {
  padding: 5px 25px;
  position: relative;
  font-size: 30px;
  color: #fff !important;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a.btn.white::before {
  width: 100%;
  height: 0%;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: -1;
  content: '';
  background: #fff;
  opacity: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotateZ(45deg);
}
a.btn.white:hover {
  color: #32a8df !important;
}
a.btn.white:hover::before {
  height: 400%;
  opacity: 1;
}
a.btn.white:active::before {
  height: 510%;
}

/* Background video */
.jumbotron {
  margin-bottom: 0;
  padding: 4em 0;
  position: relative;
  background-color: #143444;
  color: #fff;
  border-radius: 0;
}
.jumbotron h1 {
  font-size: 35px;
}
.jumbotron h2 {
  margin-top: 10px;
  font-size: 25px;
}
.jumbotron h1, .jumbotron h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.jumbotron p {
  font-size: 14px;
  font-weight: 300;
}
.jumbotron a.btn.white {
  font-size: 20px;
}

/* Artwork */
.project-designs {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background: #fafafa;
}
.project-designs a {
  color: inherit !important;
  text-decoration: none;
}

.grow {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

/* Sidebar */
#sidebar ul {
  margin-left: -10px;
}
#sidebar li {
  float: left;
}
#sidebar img {
  width: 200px;
  margin: 0 20px 20px 0;
  border: 1px solid #efefef;
  background-color: #fff;
}

/* Templates pages
   ==========================================================================
/*  Global */
.banner {
  position: relative;
  text-align: center;
  background-position: center center;
  background-size: cover;
  color: #FFF;
}
.banner h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.filter {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Portfolio */
.card-ui figure {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.card-ui figure img {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: block;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card-ui figure:hover img {
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
.card-ui figure:hover figcaption {
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: opacity 0.1s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
}
.card-ui figcaption {
  width: 100%;
  height: 100px;
  top: auto;
  bottom: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  padding: 20px 45px 20px 20px;
  background-color: #143444;
  color: #32a8df;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
}
.card-ui figcaption a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0 7px 2px;
  border-radius: 2px;
  background: #32a8df;
  color: #fff !important;
  display: inline-block;
}
.card-ui figcaption a:hover {
  background: rgba(50, 168, 223, 0.5);
  color: #fff;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card-ui figcaption h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #fff;
}
.card-ui figcaption em {
  font-size: 0.8em;
}

/* Single */
article p {
  text-align: justify;
  line-height: 28px;
}
article img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.description-fixed {
  top: 0;
  right: 0;
  position: fixed;
}

.border {
  width: 200px;
  height: 2px;
  margin: 20px 0;
  border: 1px solid #32a8df !important;
}

.post-title, a.nav-post {
  color: #000;
}

.next-post {
  text-align: right;
}

.next-post, .prev-post {
  padding-top: 20px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  background-color: #f0f0f0;
}

/* À propos */
.title-cv {
  color: #32A8DF;
  text-transform: uppercase;
  border-bottom: 4px solid #143444;
}

.expertise h2 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.expertise-detail {
  padding-top: 40px;
  padding-bottom: 40px;
  -moz-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.2);
}
.expertise-detail li {
  padding: 10px 0;
  font-size: 17px;
  border-top: 1px solid rgba(50, 50, 50, 0.1);
}
.expertise-detail li:last-child {
  border-bottom: 1px solid rgba(50, 50, 50, 0.1);
}

.expertise-footer li {
  list-style: none;
}

/* Contact */
a.link-contact {
  color: #32a8df !important;
}

.contact-info h4 {
  margin-bottom: 40px;
  position: relative;
  color: #000;
}
.contact-info span {
  width: 100%;
  float: left;
  font-size: 16px;
}

.contact-info .adresse h4::after, .contact-info .phone h4::after {
  width: 65px;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: -22px;
  content: '';
  background: #32a8df;
}

#formulaire-responsive {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.rang-form {
  width: 100%;
}

.colonne {
  width: 100%;
  padding-bottom: .65rem;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.colonne-left {
  width: 50%;
  padding-right: .65rem;
}
.colonne-right {
  width: 50%;
  padding-left: .65rem;
}

.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wpcf7 input[type=text]:focus {
  background: #fff;
}

span.wpcf7-not-valid-tip {
  padding: 5px;
  font-size: 12px;
  text-shadow: none;
  color: #fff;
  background: red;
}

div.wpcf7-validation-errors {
  margin: 0;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  text-shadow: none;
  border: transparent;
  background: #f9cd00;
  color: #9C6533;
}

div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  color: #444444;
}

div.wpcf7-mail-sent-ok {
  font-size: 14px;
  text-shadow: none;
  border-color: #85C555;
  border-radius: 5px;
  background: rgba(133, 197, 85, 0.5);
}

div.wpcf7-validation-errors {
  border: 2px solid #fcd920;
  border-radius: 5px;
  background-color: rgba(252, 217, 32, 0.5);
}

span.wpcf7-not-valid-tip {
  padding: 5px;
  font-size: 12px;
  text-align: center;
  color: #444444;
  border: 2px solid #EA465A;
  border-radius: 5px;
  background-color: rgba(234, 70, 90, 0.5);
}

.btn.btn-primary {
  background-color: #32a8df !important;
  border-color: transparent;
}
.btn.btn-primary:hover {
  background-color: #217da8 !important;
}

.g-recaptcha {
  display: inline-block;
}

#map {
  width: 100%;
  height: 400px;
}

.map {
  padding: 0;
}

/* 404
   ========================================================================== */
.body {
  height: 100%;
  margin-top: 0 !important;
  font-family: Exo, sans-serif;
  background-color: #143444;
}

.center {
  margin-top: 50vh;
  transform: translateY(-50%);
}

svg {
  margin-top: -250px;
  margin-left: -400px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.message-box {
  width: 380px;
  height: 200px;
  margin-top: -100px;
  margin-left: 50px;
  top: 50%;
  left: 50%;
  font-weight: 300;
  position: absolute;
  color: #FFF;
}
.message-box h1 {
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 46px;
}

.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  margin-right: 10px;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  background: #32a8df;
  color: #FFF !important;
  cursor: pointer;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.buttons-con .action-link-wrap a:hover {
  background: #5A5C6C;
  color: #fff;
}

#polygon-1, #polygon-2, #polygon-3, #polygon-4 {
  -moz-animation: float 1s infinite ease-in-out alternate;
  -webkit-animation: float 1s infinite ease-in-out alternate;
  animation: float 1s infinite ease-in-out alternate;
}

#polygon-2 {
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#polygon-3 {
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#polygon-4 {
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes float {
  100% {
    -moz-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}
@keyframes float {
  100% {
    -moz-transform: translate(10px, 10px);
    -ms-transform: translate(10px, 10px);
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px);
  }
}
