// Index
// ==========================================================================

@mixin transform-translate {
    -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotateZ(45deg); }

@mixin project-designs-border($val) {
    border-top: $val;
    border-bottom: $val; }

// Templates pages
// Portfolio
// ==========================================================================
@mixin transform-opacity($tt, $ot) {
    -webkit-transition: opacity $ot, -webkit-transform $tt;
    transition: opacity $ot, -webkit-transform $tt;
    -o-transition: transform $tt, opacity $ot;
    transition: transform $tt, opacity $ot;
    transition: transform $tt, opacity $ot, -webkit-transform $tt; }
