@media(max-width:768px) {
    body, html {
        padding-bottom: 34px; }
}
@media screen and (min-width:0px) and (max-width:480px) {
    .navbar-collapse {
        margin-top: 20px; }
}
@media screen and (max-width:800px) {
    .navbar-collapse {
        margin-top: 20px; }
}

@media (max-width:768px) {
    #sidebar ul {
        text-align: center;
        li {
            float: none;
            display: inline-block; }
    }
    .navbar-brand-sm {
        width: 54px;
        margin-left: 20px !important; }

    .description-fixed {
        position: inherit; }

    .card-ui {
        figure img {
            width: 100%; }
        figcaption {
            width: 100%; }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .superpose {
        top: 55%;
        h1 {
            font-size: 35px;
            line-height: 30px; }
        h2 {
        font-size: 25px; }
        p {
            font-size: 16px;
            line-height: 10px; }
        a.btn.white {
            font-size: 20px;
        }
    }

    .main-footer a h6 {
        padding-left: 15px; }

    input {
        padding: 0 0 0 10px; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    .superpose {
        top: 55%;
        h1 {
            font-size: 55px; }
        a.btn.white {
        font-size: 20px; }
    }
    input {
        padding: 0 80px 0 10px; }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .card-ui figcaption {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%); }
 }
