@import 'fonts';
@import 'compass';
@import 'colors';
@import 'mixin';

/* Global
   ========================================================================== */
html {
    margin-top: 0 !important; } /* Because it's add by wp */

body {
    padding-bottom: 360px;
    font-family: $font; }

.social A[href="#"], .social A[href=""] {
    display: none; }

a {
    color: $links;
    &:hover {
        text-decoration: none;
        color: $links; }
}

ul {
    margin-left: -40px;
    list-style: none; }

/* Logo */
.navbar-brand {
    color: #fff !important;
    h1 {
        font-size: 1.5em;
        font-weight: 300; }
}

/* Liens */
.navbar-nav {
    .active a {
        color: $links !important; }
    & > li > a {
    font-size: 1.2em;
    color: $white !important;
        &:hover {
            color: $links !important; }
    }
}
/* Toggle */
.navbar-toggler:hover {
    background-color: $links !important; }

#navbarSupportedContent > ul {
    text-align: center; }

::-moz-selection, ::selection {
    background: #00c6ff; }

/* Footer */
.main-footer {
    width: 100%;
    margin-bottom: 0;
    padding: 4em 0 0;
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $color-site;
    background: #143444 !important;
    & h3 {
        margin-bottom: 30px !important;
        font-size: 14px;
        text-transform: uppercase; }
    &-bottom {
        padding: 2em 0 0;
        text-align: center; }
    &-content p {
        font-size: 16px;
        color: #fff; }
    a h6 {
        margin-top: 20px;
        font-size: 12px;
        color: #fff; }
}

.main-footer {
    color: #fff; }

#menu-secondary {
    margin-left: 0; }

.search-col > .nav {
    -ms-flex-wrap: inherit;
    flex-wrap: inherit; }

input {
    padding: 0 140px 0 10px;
    font-size: 1em;
    letter-spacing: .02em;
    line-height: 32px;
    border: 0;
    border-bottom: 2px solid transparent;
    display: inline-block;
    @include box-sizing(border-box); }

#searchform button {
    margin: 0 0 0 -40px;
    border: none;
    background-color: transparent;
    i {
        width: 18px;
        height: 18px;
        margin: 2px 0 0 2px;
        position: relative;
        border: none;
        background-size: contain;
        display: block; }
}

.social h3 {
    margin-top: 2em; }

/* scrollToTop */
#scrollToTop {
    width: 2em;
    height: 2em;
    position: fixed;
    right: 25px;
    bottom: 25px;
    padding: 0;
    border: none;
    background-color: $links;
    display: none;
    z-index: 1;
    cursor: pointer; }

/* Index
   ========================================================================== */
/* Background video */
.main {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    @include box-shadow( 0 20px 50px rgba(0, 0, 0, .25) );
    background: #ffffff; }

.filter-video::after {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    content: '';
    background: rgba(0, 0, 0, .4) url(../img/pattern.png)repeat top left; }

.embed-responsive-16by9-index {
    padding-bottom: 31.25%; }

.bgvideo {
    position: relative; }

.superpose {
    width: 100%;
    top: 50%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    color: #fff;
    @include translate(0, -60%);
    h1 {
        font-size: 75px;
        font-weight: 700;
        text-transform: uppercase; }
    h2 {
        margin-top: 0;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase; }
    p {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px; }
}

a.btn.white {
    padding: 5px 25px;
    position: relative;
    font-size: 30px;
    color: #fff !important;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, .2);
    overflow: hidden;
    @include transition (all 0.3s);
    &::before {
        width: 100%;
        height: 0%;
        top: 50%;
        left: 50%;
        position: absolute;
        z-index: -1;
        content: '';
        background: #fff;
        opacity: 0;
        @include transition (all 0.3s);
        @include transform-translate; }
    &:hover {
        color: $links !important; }
    &:hover::before {
        height: 400%;
        opacity: 1; }
    &:active::before {
        height: 510%; }
}

/* Background video */
.jumbotron {
    margin-bottom: 0;
    padding: 4em 0;
    position: relative;
    background-color: $color-site;
    color: #fff;
    border-radius: 0;
    h1 {
        font-size: 35px; }
    h2 {
        margin-top: 10px;
        font-size: 25px; }
    h1, h2 {
        font-weight: 700;
        text-transform: uppercase; }
    p {
        font-size: 14px;
        font-weight: 300; }
    a.btn.white {
        font-size: 20px; }
}

/* Artwork */
.project-designs {
    @include project-designs-border(1px solid $project-designs);
    background: #fafafa;
    a {
        color: inherit !important;
        text-decoration: none; }
}

.grow {
    @include transition(all .2s ease-in-out);
    &:hover {
        @include scale(1.05); }
}

/* Sidebar */
#sidebar  {
    ul {
        margin-left: -10px; }
    li {
        float: left; }
    img {
        width: 200px;
        margin: 0 20px 20px 0;
        border: 1px solid #efefef;
        background-color: #fff; }
}

/* Templates pages
   ==========================================================================
/*  Global */
.banner {
    position: relative;
    text-align: center;
    background-position: center center;
    background-size: cover;
    color: #FFF;
    h1 {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 42px;
        font-weight: 700;
        line-height: 1.2;
        margin: 0; }
}

.filter {
    background-color: rgba(0, 0, 0, .6); }

/* Portfolio */
.card-ui {
    figure {
        position: relative;
        margin: 0;
        overflow: hidden;
        img {
            position: relative;
            max-width: 100%;
            height: 100%;
            display: block;
            @include transition(.4s); }
        &:hover img {
            @include translateY(-50px); }
        &:hover figcaption {
            opacity: 1;
            @include translateY(0);
            @include transform-opacity(.4s, .1s); }
    }
    figcaption {
        width: 100%;
        height: 100px;
        top: auto;
        bottom: 0;
        opacity: 0;
        position: absolute;
        left: 0;
        padding: 20px 45px 20px 20px;
        background-color: $color-site;
        color: $links;
        @include translateY(100%);
        @include transform-opacity(.4s, .1s .3s);
            a {
            position: absolute;
            bottom: 10px;
            right: 10px;
            padding: 0 7px 2px;
            border-radius: 2px;
            background: $links;
            color: #fff !important;
            display: inline-block;
            &:hover {
                background: rgba(50, 168, 223, .5);
                color: #fff;
                @include transition(.4s); }
            }
            h3 {
            margin: 0;
            padding: 0;
            font-size: 20px;
            color: #fff; }
            em {
            font-size: 0.8em; }
    }
}

/* Single */
article {
    p {
        text-align: justify;
        line-height: 28px; }
    img {
        width: 100%;
        height: auto;
        margin-bottom: 20px; }
}

.description-fixed {
    top: 0;
    right: 0;
    position: fixed; }

.border {
    width: 200px;
    height: 2px;
    margin: 20px 0;
    border: 1px solid $links !important; }

.post-title, a.nav-post {
    color: #000; }

.next-post {
    text-align: right; }

.next-post, .prev-post {
    padding-top: 20px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    background-color: #f0f0f0; }

/* À propos */
.title-cv {
    color: #32A8DF;
    text-transform: uppercase;
    border-bottom: 4px solid #143444; }

.expertise h2 {
        margin-top: 50px;
        margin-bottom: 40px; }

.expertise-detail {
    padding-top: 40px;
    padding-bottom: 40px;
    @include box-shadow(0 2px 8px 0 $expertise-detail);
    li {
        padding: 10px 0;
        font-size: 17px;
        border-top: 1px solid rgba(50, 50, 50, .1);
        &:last-child {
            border-bottom: 1px solid rgba(50, 50, 50, .1); }
    }
}

.expertise-footer li {
    list-style: none; }

/* Contact */
a.link-contact  {
    color: $links !important; }

.contact-info  {
    h4 {
        margin-bottom: 40px;
        position: relative;
        color: #000; }
    span {
        width: 100%;
        float: left;
        font-size: 16px; }
}

.contact-info .adresse h4::after, .contact-info .phone h4::after {
    width: 65px;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -22px;
    content: '';
    background: $links; }

#formulaire-responsive {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; }

.rang-form {
    width: 100%; }

.colonne {
    width: 100%;
    padding-bottom: .65rem;
    float: left;
    @include box-sizing(border-box);
    &-left {
        width: 50%;
        padding-right: .65rem; }
    &-right {
        width: 50%;
        padding-left: .65rem; }
}

.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    @include box-sizing(border-box); }

.wpcf7 input[type=text]:focus {
    background: #fff; }

span.wpcf7-not-valid-tip {
    padding: 5px;
    font-size: 12px;
    text-shadow: none;
    color: #fff;
    background: red; }

div.wpcf7-validation-errors {
    margin: 0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    text-shadow: none;
    border: transparent;
    background: #f9cd00;
    color: #9C6533; }

div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: #444444; }

div.wpcf7-mail-sent-ok {
    font-size: 14px;
    text-shadow: none;
    border-color: $sent-ok-color;
    border-radius: 5px;
    background: $sent-ok-alpha; }

div.wpcf7-validation-errors {
    border: 2px solid $sent-warning-color;
    border-radius: 5px;
    background-color: $sent-warning-alpha; }

span.wpcf7-not-valid-tip {
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: #444444;
    border: 2px solid $not-valid-tip-color;
    border-radius: 5px;
    background-color: $not-valid-tip-alpha; }

.btn.btn-primary {
    background-color: $links !important;
    border-color: transparent;
    &:hover {
        background-color: #217da8 !important; }
}

.g-recaptcha { 
    display: inline-block; }

#map {
    width: 100%;
    height: 400px; }

.map {
    padding: 0; }

/* 404
   ========================================================================== */
.body {
    height: 100%;
    margin-top: 0 !important;
    font-family: Exo, sans-serif;
    background-color: $color-site;
}

.center {
    margin-top: 50vh;
    transform: translateY(-50%);
}

svg {
    margin-top: -250px;
    margin-left: -400px;
    position: absolute;
    top: 50%;
    left: 50%; }

.message-box {
    width: 380px;
    height: 200px;
    margin-top: -100px;
    margin-left: 50px;
    top: 50%;
    left: 50%;
    font-weight: 300;
    position: absolute;
    color: #FFF;
    h1 {
        margin-bottom: 40px;
        font-size: 60px;
        line-height: 46px; }
}

.buttons-con .action-link-wrap {
    margin-top: 40px;
    a {
        margin-right: 10px;
        padding: 8px 25px;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        border-radius: 4px;
        background: $links;
        color: #FFF !important;
        cursor: pointer;
        @include transition(all .3s linear);
        &:hover {
            background: #5A5C6C;
            color: #fff; }
    }
}

#polygon-1, #polygon-2, #polygon-3, #polygon-4 {
    @include animation( float 1s infinite ease-in-out alternate); }

#polygon-2 {
    @include animation-delay(.2s); }

#polygon-3 {
    @include animation-delay(.4s); }

#polygon-4 {
    @include animation-delay(.6s); }

@-webkit-keyframes float {
    100% {
    @include translate(10px, 10px); }
}

@keyframes float {
    100% {
    @include translate(10px, 10px); }
}
